<h1> Create a New Project </h1>


<%= form_for @project do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>


  <h3>Add reward(s)</h3>
  <%= f.fields_for :rewards do |reward_fields| %>
    <%= render 'reward_fields', f: reward_fields %>
  <% end %>

  <div class="links">
    <%= link_to_add_association 'Add reward', f, :rewards %>
  </div>

  <%= f.submit %>
<% end %>
